In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("C:\\Users\\JIT SAHA\\OneDrive\\Desktop\\Music Recommender System\\spotify_millsongdata.csv")

In [3]:
df.head(5)

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \r\nA..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please \r\nTouch me gen..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go \r\nWhy I had...
3,ABBA,Bang,/a/abba/bang_20598415.html,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,/a/abba/bang+a+boomerang_20002668.html,Making somebody happy is a question of give an...

In [4]:
df.shape

(57650, 4)

In [5]:
df.tail(5)

,artist,song,link,text
57645,Ziggy Marley,Good Old Days,/z/ziggy+marley/good+old+days_10198588.html,Irie days come on play \r\nLet the angels fly...
57646,Ziggy Marley,Hand To Mouth,/z/ziggy+marley/hand+to+mouth_20531167.html,Power to the workers \r\nMore power \r\nPowe...
57647,Zwan,Come With Me,/z/zwan/come+with+me_20148981.html,all you need \r\nis something i'll believe \...
57648,Zwan,Desire,/z/zwan/desire_20148986.html,northern star \r\nam i frightened \r\nwhere ...
57649,Zwan,Heartsong,/z/zwan/heartsong_20148991.html,come in \r\nmake yourself at home \r\ni'm a ...

In [6]:
df.isnull().sum()

artist    0
song      0
link      0
text      0
dtype: int64

In [7]:
df =df.sample(5000).drop('link', axis=1).reset_index(drop=True)

In [8]:
df

,artist,song,text
0,Carly Simon,Boys In The Trees,I'm home again in my old narrow bed \r\nWhere...
1,Kenny Loggins,I Like It Like That,Come on (come on let me show you where it's at...
2,Oasis,Rock 'n' Roll Star,I live my life in the city \r\nThere's no eas...
3,Natalie Cole,Split Decision,Who's gonna take the blame tomorrow \r\nIf we...
4,Barbra Streisand,Closer,As close as the sea is to the seashore \r\nTi...
...,...,...,...
4995,Kinks,Noise,"Dad's stuck in the factory, machines are bangi..."
4996,Thin Lizzy,Diddy Levine,In the later forties \r\nWhen Diddy Levine li...
4997,Gino Vannelli,Fallen In Love,Pardon me \r\nWhat a rare mood I'm in \r\nCh...
4998,Neil Sedaka,Ebony Angel,"I've told you that we're getting married, \r\..."
4999,The Temptations,"I Truly, Truly Believe",I'm sending you red roses and violets. \r\n(V...

In [10]:
df['text'][4999]

'I\'m sending you red roses and violets.  \r\n(Violets of...) blue, girl.  \r\nThe roses mean I love you.  \r\nThe violets mean I\'ll always be true, girl. (Be true, girl)  \r\n  \r\nBecause I really love you.  \r\nAnd I truly, truly believe, yes I do.  \r\nin spite of the way you acting, that you love me too.  \r\nCome on and say it dear.  \r\n  \r\nHmm, you try, to keep me away, girl.  \r\nJust to prove you don\'t really care.  \r\nBut I believe you feel the same way I do.  \r\nAnd this torture just ain\'t fair. (No, this torture just ain\'t fair)  \r\n  \r\nI\'m sending you a bracelet.  \r\nIn grave in gold that, "I love you" girl. (Love you, girl)  \r\nAnd I\'ll send my heart if I could, to prove I\'ll always be true, girl.  \r\n  \r\nBecause I really love you.  \r\nAnd I truly, truly believe, yes I do.  \r\nin spite of the way you acting, that you love me too.  \r\nCome on and say it dear.  \r\nOh, say it dear.  \r\n  \r\nI hope you\'d understand.  \r\nThat the red roses and violets of blue, girl, (Hope you\'d understand)  \r\nAnd that bright shining bracelet, help me, baby, say \'I love you\'. (I love\r\nyou. Love you)  \r\n  \r\nAnd I really love you.  \r\nAnd I truly, truly believe, yes I do. (Yes, I do)  \r\nI believe that you love me.  \r\nSo baby, come on and say it.  \r\n  \r\nA-Say it. (I truly believe, yes I do, yes I do, yes I do)  \r\nI truly, truly believe. (I truly believe, yes I do, yes I do, yes I do)  \r\n(I truly believe, yes I do, yes I do, yes I do)\r\n\r\n'

In [11]:
df.shape

(5000, 3)

Text Cleaning/Text Preprocessing

In [12]:
df['text']=df['text'].str.lower().replace(r'^\w\s','').replace(r'\n','',regex=True)

In [13]:
df.tail(5)

,artist,song,text
4995,Kinks,Noise,"dad's stuck in the factory, machines are bangi..."
4996,Thin Lizzy,Diddy Levine,in the later forties \rwhen diddy levine live...
4997,Gino Vannelli,Fallen In Love,pardon me \rwhat a rare mood i'm in \rcheck ...
4998,Neil Sedaka,Ebony Angel,"i've told you that we're getting married, \rn..."
4999,The Temptations,"I Truly, Truly Believe",i'm sending you red roses and violets. \r(vio...

In [14]:
import nltk
from nltk.stem.porter import PorterStemmer

stemmer = PorterStemmer()

def tokenization(txt):
    tokens = nltk.word_tokenize(txt)
    stemming = [stemmer.stem(w) for w in tokens]
    return " ".join(stemming)

df['text'] = df['text'].apply(lambda x: tokenization(x))

In [15]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [16]:
tfidvector = TfidfVectorizer(analyzer='word',stop_words='english')
matrix = tfidvector.fit_transform(df['text'])
similarity = cosine_similarity(matrix)

In [17]:
similarity[0]
len(similarity[0])

5000

In [19]:
df[df['song'] == 'Fallen In Love'].index[0]

4997

Recommender Function

In [20]:
def recommendation(song_df):
    idx = df[df['song'] == song_df].index[0]
    distances = sorted(list(enumerate(similarity[idx])),reverse=True,key=lambda x:x[1])
    
    songs = []
    for m_id in distances[1:21]:
        songs.append(df.iloc[m_id[0]].song)
        
    return songs

In [22]:
recommendation('Noise')

['Noise Is The Best Revenge',
 "Something's Gotta Give",
 'Big Noise Transmission',
 'Clowns Of Death',
 'Heavy Love',
 'Ooh Poo Pah Doo',
 'Angel From The Coast',
 'Southern Voice',
 'Sleep By Windows',
 'That Voice Again',
 'Is This Freedom',
 'A Thousand Words',
 'Do You Hear What I Hear',
 'Get Off Of My Cloud',
 'Everywhere I Go',
 'Close My Eyes',
 "I Don't Want To Hear It Anymore",
 'Kill City',
 'Something Following Me',
 'Jigsaw Falling Into Place']

In [24]:
def recommendation(song_df):
    idx = df[df['song'] == song_df].index[0]
    distances = sorted(list(enumerate(similarity[idx])), reverse=True, key=lambda x: x[1])
    
    recommendations = []
    for m_id, distance in distances[1:21]:
        song_name = df.iloc[m_id].song
        song_data = df.iloc[m_id]
        recommendations.append({'Song': song_name, 'Distance': distance, 'Data': song_data})
        
    return recommendations

# Now, call the function with an example song_df
recommended_songs = recommendation("Noise")

# Print the recommendations
for song in recommended_songs:
    print(song)

{'Song': 'Noise Is The Best Revenge', 'Distance': 0.5835527792576893, 'Data': artist                                            Morrissey
song                              Noise Is The Best Revenge
text      hey kid , take my hand if onli for awhil and t...
Name: 3376, dtype: object}
{'Song': "Something's Gotta Give", 'Distance': 0.4517397589549072, 'Data': artist                                            Aerosmith
song                                 Something's Gotta Give
text      cyberot head explod inform overload and i just...
Name: 4632, dtype: object}
{'Song': 'Big Noise Transmission', 'Distance': 0.3481867777587368, 'Data': artist                                           Gary Numan
song                                 Big Noise Transmission
text      did i ever tell you what happen befor ? i wa w...
Name: 501, dtype: object}
{'Song': 'Clowns Of Death', 'Distance': 0.22618182638592524, 'Data': artist                                         Oingo Boingo
song                                        Clowns Of Death
text      i 'm the one who prey upon the weakest and the...
Name: 2471, dtype: object}
{'Song': 'Heavy Love', 'Distance': 0.22383460320735013, 'Data': artist                                           Neil Young
song                                             Heavy Love
text      i may not mystifi you in your search for highe...
Name: 1076, dtype: object}
{'Song': 'Ooh Poo Pah Doo', 'Distance': 0.18538034540288956, 'Data': artist                                          Tina Turner
song                                        Ooh Poo Pah Doo
text      i wan na tell you bout ooh poo pah doo babi ca...
Name: 3734, dtype: object}
{'Song': 'Angel From The Coast', 'Distance': 0.15991317720951315, 'Data': artist                                           Thin Lizzy
song                                   Angel From The Coast
text      the sacr heart is bleed go tell the holi ghost...
Name: 3358, dtype: object}
{'Song': 'Southern Voice', 'Distance': 0.158202656883652, 'Data': artist                                           Tim McGraw
song                                         Southern Voice
text      hank william sang it number three drove it chu...
Name: 1181, dtype: object}
{'Song': 'Sleep By Windows', 'Distance': 0.15230710772591546, 'Data': artist                                           Gary Numan
song                                       Sleep By Windows
text      you can cri by my window you can crawl on the ...
Name: 4088, dtype: object}
{'Song': 'That Voice Again', 'Distance': 0.13450953773429644, 'Data': artist                                        Peter Gabriel
song                                       That Voice Again
text      i want to be with you i want to be clear but e...
Name: 2470, dtype: object}
{'Song': 'Is This Freedom', 'Distance': 0.13126413113456697, 'Data': artist                                           Lucky Dube
song                                        Is This Freedom
text      she got outsid one morn to see what ' s go on ...
Name: 2156, dtype: object}
{'Song': 'A Thousand Words', 'Distance': 0.128132188890428, 'Data': artist                                        Savage Garden
song                                       A Thousand Words
text      we stumbl in a tangl web decay friendship almo...
Name: 881, dtype: object}
{'Song': 'Do You Hear What I Hear', 'Distance': 0.12115338195592386, 'Data': artist                                        Andy Williams
song                                Do You Hear What I Hear
text      said the nightwind to the littl lamb do you se...
Name: 1322, dtype: object}
{'Song': 'Get Off Of My Cloud', 'Distance': 0.120103977463446, 'Data': artist                                       Rolling Stones
song                                    Get Off Of My Cloud
text      i live in an apart on the ninety-ninth floor -...
Name: 613, dtype: object}
{'Song': 'Everywhere I Go', 'Distance': 0.11867917783809878, 'Data': artist                                       Jackson Browne
song                                        Everywhere I Go
text      i hear your heart beat everywher when we 're a...
Name: 4846, dtype: object}
{'Song': 'Close My Eyes', 'Distance': 0.11629627787561417, 'Data': artist                                      Backstreet Boys
song                                          Close My Eyes
text      my feet on the ground but i ca n't run drown t...
Name: 2578, dtype: object}
{'Song': "I Don't Want To Hear It Anymore", 'Distance': 0.11470201782985254, 'Data': artist                                    Dusty Springfield
song                        I Don't Want To Hear It Anymore
text      in my neighborhood we do n't live so good the ...
Name: 4239, dtype: object}
{'Song': 'Kill City', 'Distance': 0.11467444824540343, 'Data': artist                                             Iggy Pop
song                                              Kill City
text      well i live here in kill citi where the d -- ?...
Name: 4157, dtype: object}
{'Song': 'Something Following Me', 'Distance': 0.11423202675686492, 'Data': artist                                         Procol Harum
song                                 Something Following Me
text      while stand at the junction on 42nd street i i...
Name: 2475, dtype: object}
{'Song': 'Jigsaw Falling Into Place', 'Distance': 0.11181083887705903, 'Data': artist                                            Radiohead
song                              Jigsaw Falling Into Place
text      just as you take my hand just as you write my ...
Name: 4562, dtype: object}

In [25]:
import pickle
pickle.dump(similarity,open('similarity.pkl','wb'))
pickle.dump(df,open('df.pkl','wb'))